# Arquivos de cache do Python
__pycache__/
*.pyc

# Pasta de certificados gerados (MUITO IMPORTANTE)
certificates/

# Pasta de uploads (Boa prática ignorar também)
static/uploads/

# Arquivos de ambiente virtual (se você usar um)
venv/
.env